body {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

img {
    max-width: 480px;
    max-height: auto;
}

a {
    text-decoration: none;
    
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    border: none;
    margin: 8px 0px;
    padding: 4px 2px;
    
}

button:hover {
    background-color: #a0a0a0;
}

.button1 {
    border-radius: 8px;
}

.header-links a, .hero-left {
    color: #E5E7Eb;
    font-size: 18px;
}

.inside {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: auto;
}

.header {
    background-color: #1F2937;
}

.header-logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    padding: 8px;
    gap: 16px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}